.navigation-component {
    width: 15%;

    a {
        text-decoration: none;
        font-size: larger;  

        li {
            background-color: var(--bs-primary);

            .flexer {
                transition: flex-grow 1s;
            }

            &:hover .flexer {
                flex-grow: 2;    
                // animation: flexanimation 0.5s;
            }
        }
        
        &.active li, &:hover li {
            background-color: var(--bs-white);
            & .flexer {
                flex-grow: 2
            }
        }
    }    
}

@keyframes flexanimation { 
    100% { 
      flex-grow: 5; 
    }
}