.navigation-component {
    a { 
        li {
            .flexer {
                transition: flex-grow 0.5s;
            }

            &:hover .flexer {
                flex-grow: 2;    
            }
        }
        
        &.active li, &:hover li {
            @apply bg-stone-700;
            
            & .flexer {
                flex-grow: 2
            }
        }
    }    
}