.button-component {
    position: relative;
    border: none;
    
    &:after, &:before {
        position: absolute;
    }

    &:hover {
        &:hover:before {
            content: '';
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-bottom: none;
            border-right: none;
            @apply border-blue-500;
            left: 0;
            bottom: 0;        
            animation: border-anim-before 0.5s forwards;
        }
        
        &:hover:after {
            content: '';
            border: none;
            @apply border-blue-500;
            right: 0;
            top: 0;
            animation: border-anim-after 0.5s forwards;
            animation-delay: 0.5s;
        }
    }
}

@keyframes border-anim-before {
    0% {
        width: 0%;
        height: 0%;
        @apply border-blue-500;

    }

    50% {
        width: 0%;
        height: 100%;
        border-left: 2px solid;
        @apply border-blue-500;

    }
    100% {
        width: 100%;
        height: 100%;
        border-top: 2px solid;
        @apply border-blue-500;

    }
}

@keyframes border-anim-after {
    0% {
        width: 0%;
        height: 0%;
        background-color: transparent;
        @apply border-blue-500;
        
    }
    
    50% {
        width: 0%;
        height: 100%;
        border-right: 2px solid;
        @apply border-blue-500;

    }
    100% {
        width: 100%;
        height: 100%;
        border-bottom: 2px solid;
        border-right: 2px solid;
        @apply border-blue-500;
    }
}