.button-component {
    position: relative;
    background-color: transparent;
    border: none;
    padding: 50px;
    
    &:after, &:before {
        position: absolute;
    }

    &:hover {
        &:hover:before {
            content: '';
            border-top: 2px solid;
            border-left: 2px solid;
            border-bottom: none;
            border-right: none;
            @apply border-blue-500;
            left: 0;
            top: 0;        
            animation: border-anim 1s forwards;
        }
        
        &:hover:after {
            content: '';
            border-bottom: 2px solid;
            border-right: 2px solid;
            border-top: none;
            border-left: none;
            @apply border-blue-500;
            right: 0;
            bottom: 0;
            animation: border-anim 1s forwards;
        }
    }
}

@keyframes border-anim {
    0% {
        width: 0%;
        height: 0%;
        background-color: transparent;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}